@font-face {
  src: url("./assets/fonts/Vazir-Medium.woff"), url("./assets/fonts/Vazir-Medium.woff2"), url("./assets/fonts/Vazir-Medium.eot");
  font-family: vazir;
  font-weight: normal;
}
*,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: vazir , 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif !important;
}
body {
  background: #212130;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  text-decoration: none;
}
ol,ul,li{
  list-style: none;
}
